<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Title</title>
</head>
<body>
<form method='POST' action ='/'>
 <table>
 <tr>
 <td>Vnet_ID</td>
 <td><input type='text' name='vnet_id'/></td>
 </tr>
 <tr>
 <td>Subnet_iD</td>
 <td><input type='text' name='subnet_id'/></td>
 </tr>
 <tr>
 <td><label for="grafana">Grafana</label></td>
 <td>
 <select name="grafana" id="grafana">
 <option value="True">True</option>
 <option value="False">False</option>
 </select>
 </td>
 </tr>
 <tr>
 <td><input type="submit" value="Submit Query"></td>
 </tr>
 </table>
</form>
</body>
</html>